<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="../static/css/normalizer.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <h1>MSSM</h1>
        <nav>
            <ul>
                <li>
                    <a href="./main.html">inicio</a>
                </li>
                <li>
                    <a href="./register.html">registrar materia</a>
                </li>
                <li>
                    <a href="./view.html">ver materias</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <aside>
        <img src="../static/img/usuario.png" alt="usuario">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </aside>
    <main>
        <article>


        </article>

    </main>

    <script>
        const dots =  document.getElementsByClassName('dot');
        for (let dot of dots) {
            dot.addEventListener('click',()=>{
                alert("esto aun no hacer nada <3")
            });
        }
    </script>

</body>

</html>